@page
@model WebAdmin.Pages.Artist.DetailsModel
@{
}

<div class="details">
    <h1 style="text-align: center;"><partial style="font-family: 'Dancing Script', cursive; color: #c2444d;">@Html.DisplayFor(model => model.Artist.ArtistName)</partial></h1>
@*     <dl class="row"> *@
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt> *@
@*         <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dt> *@
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Image)
        </dt> *@
        @* <dd class="col-sm-10"> *@
    <div style="text-align: center;"> 
        <img class="details-img" src="@Html.DisplayFor(model => model.Artist.Image)" alt="N/A" />
    </div>

            
@*         </dd>
    </dl> *@
</div> 

