@page
@model WebAdmin.Pages.Song.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


<h3>Bạn có chắc là xóa bài hát?</h3>
<div class="delete">
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongUrl)
        </dt>
        <dd class="col-sm-10">
            <video width="320" height="240" controls>
                <source src="@Html.DisplayFor(model => model.Song.SongUrl)" type="video/mp4" />
            </video>
            @* @Html.DisplayFor(model => model.Song.SongUrl) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.PublicDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.PublicDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Price)
        </dd>

    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Song.SongId">
        <input type="hidden" asp-for="Song.SongId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
</div>
