@page
@model WebAdmin.Pages.Song.DetailsModel
@{
}


<div class="details">
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Bài Hát
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.SongName)
        </dd>
        <dt class="col-md-4 col-12">
            Mô Tả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.SongDescription)
        </dd>
        <dt class="col-md-4 col-12">
            Video
        </dt>
        <dd class="col-md-8 col-12">
            <video width="320" height="240" controls>
                <source src="@Html.DisplayFor(model => model.Song.SongUrl)" type="video/mp4" />
            </video>
            @* @Html.DisplayFor(model => model.Song.SongUrl) *@
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
           @*  @Html.DisplayFor(model => model.Song.SongStatus) *@
            @if (Model.Song.SongStatus == "Vô Hiệu Hóa" || Model.Song.SongStatus == "DISABLE")
            {
                <span>Vô Hiệu Hóa</span>
            }
            else if (Model.Song.SongStatus == "Kích Hoạt" || Model.Song.SongStatus == "ENABLE")
            {
                <span>Kích Hoạt</span>
            }
            else
            {
            }
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.CreatedDate)
        </dd>
        <dt class="col-md-4 col-12">
            Thời Điểm Chỉnh Sửa
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.UpdatedDate)
        </dd>
        <dt class="col-md-4 col-12">
            Mã Bài Hát
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.SongCode)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Ra Mắt
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Song.PublicDate)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Tiền
        </dt>
        <dd class="col-md-8 col-12">
            @Html.Raw(Model.Song.Price == 0 ? "Miễn Phí" : ((int)Model.Song.Price + " UP"))
        </dd>
    </dl>
</div>