@model WebAdmin.Pages.Song.CreateModel
@if (Model.SearchSingerResults != null && Model.SearchSingerResults.Count > 0)
{
    <div id="artistSelect" class="img-cell">
        <form asp-page-handler="AddSinger" method="post">
            @foreach (var result in Model.SearchSingerResults)
            {

                <input asp-for="SelectedSingerId" value="@result.SingerId" type="hidden" />
                <p>@result.SingerName</p>
                <img src="@result.Image" alt="N/A" />
                <input value="Thêm ca sĩ" type="submit" class="btn btn-danger"/>
            }
        </form>

    </div>


@*     <ul id="selectedSingers">
 *@        <!-- List of selected artists -->
        @if (Song.CreateModel.SingerIds != null)
        {
            foreach (var id in Song.CreateModel.SingerIds)
            {
                <div class="img-cell">
                    <p>@id.SingerName</p>
                    <p>@id.Image</p>
                </div>
            }
        }
@*        </ul>
 *@
}
else
{
    <p>No results found.</p>
}
