@* @using WebAdmin.DTOModels.Request.Song
@model WebAdmin.Pages.Song.CreateModel
@if (Model.SearchGenreResults != null && Model.SearchGenreResults.Count > 0)
{
    <div id="artistSelect" class="img-cell">
        <form asp-page-handler="AddGerne" method="post">
            @foreach (var result in Model.SearchGenreResults)
            {

                <input asp-for="SelectedGenreId" value="@result.GenreId" type="hidden" />
                <p>@result.GenreName</p>
                <img src="@result.Image" alt="N/A" />
                @if (!CreateSongRequestModel.SongGenres.Any(a => a.GenreId == result.GenreId))
                {
                    <input value="Thêm thể loại" type="submit" name="submit" class="btn btn-danger" />
                }
                else
                {
                    <input value="Bỏ chọn" type="submit" name="submit" class="btn btn-danger" />
                }
            }
        </form>

    </div>


    <ul id="selectedGenres">
        <!-- List of selected artists -->
    </ul>

}
else
{
    <p>No results found.</p>
}
 *@

@using WebAdmin.DTOModels.Request.Song
@model WebAdmin.Pages.Song.CreateModel

@if (Model.SearchGenreResults != null && Model.SearchGenreResults.Count > 0)
{
    <div id="genreSelect" class="img-cell">
        @foreach (var result in Model.SearchGenreResults)
        {
            <div class="genre-result"
                 data-id="@result.GenreId"
                 data-name="@result.GenreName"
                 data-image="@result.Image"
                 onclick="toggleGenreSelection('@result.GenreId', '@result.GenreName')">
                <p>@result.GenreName</p>
                <img src="@result.Image" alt="N/A" />
            </div>
        }
    </div>

    <ul id="selectedGenres">
        <!-- List of selected genres -->
    </ul>
}
else
{
    <p>No results found.</p>
}
