@page
@model WebAdmin.Pages.Package.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="delete">
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Gói
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.PackageName)
        </dd>
        <dt class="col-md-4 col-12">
            Mô Tả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.Description)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Gói
        </dt>
        <dd class="col-md-8 col-12">
            @Html.Raw(Model.Package.MoneyAmount == 0 ? "Miễn Phí" : ((int)Model.Package.MoneyAmount + " VND"))
        </dd>
        <dt class="col-md-4 col-12">
            Số UP
        </dt>
        <dd class="col-md-8 col-12">
            @Html.Raw((int)Model.Package.StarNumber + " UP")
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @if (Model.Package.Status == "Không Hoạt Động" || Model.Package.Status == "INACTIVE")
            {
                <span>Không Hoạt Động</span>
            }
            else if (Model.Package.Status == "Hoạt Động" || Model.Package.Status == "ACTIVE")
            {
                <span>Hoạt Động</span>
            }
            else
            {

            }
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.CreatedDate)
        </dd>
    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Package.PackageId">
        <input type="hidden" asp-for="Package.PackageId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
</div>
