@page
@model WebAdmin.Pages.Package.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="delete">
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Tên Gói
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.PackageName)
        </dd>
        <dt class="col-md-4 col-12">
            Mô Tả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.Description)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Tiền
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => (int)model.Package.MoneyAmount)
        </dd>
        <dt class="col-md-4 col-12">
            Số UP
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => (int)model.Package.StarNumber)
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.Status)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Package.CreatedDate)
        </dd>
    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Package.PackageId">
        <input type="hidden" asp-for="Package.PackageId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
</div>
