@page
@model WebAdmin.Pages.Transactions.Monetary.DetailsModel
@{
}
<h1>Details</h1>

<div>
    <h4>MonetaryTransaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.PaymentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.PaymentCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.PaymentCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.MoneyAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.MoneyAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.PackageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.PackageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonetaryTransaction.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonetaryTransaction.Username)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="/Transactions/Monetary">Back to List</a>
</div>
