@page
@model WebAdmin.Pages.Dashboard.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Overview</title>
</head>

<body class="">
    <div class="main-content">

        <!--Phan chinh suwa-->
        <div class="row mt-5">
            <div class="col-xl-8 mb-5 mb-xl-0">

                <div style="border-style:dashed; border-width:thin;  border-color:dimgray; width:130%; padding:20px;">

                    <div style="30px;"></div>
                    <!--Transaction new Model-->

                    <div class="container">
                        
                        <canvas id="transactionChart" style="display: block;max-width: 1150px;height: 150px;"></canvas>
                    </div>
                    <p><h4 style="align-content:center; top:75px;">Doanh Thu</h4></p>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const ctx = document.getElementById('transactionChart').getContext('2d');
                            const transactionChart = new Chart(ctx, {
                                type: 'bar', // Bạn có thể thay đổi thành 'line' hoặc các loại biểu đồ khác của Chart.js
                                data: {
                                    labels: @Html.Raw(Json.Serialize(Model.DataMonth.Keys.ToList())),
                                    datasets: [{
                                        label: 'Số lượng giao dịch',
                                        data: @Html.Raw(Json.Serialize(Model.DataMonth.Values.ToList())), // Dữ liệu mẫu, bạn có thể thay thế bằng dữ liệu thực tế
                                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });

                    </script>



                </div>

                <div style="height:30px"></div>
                <div style="border-style:dashed; border-width:thin;  border-color:dimgray; width:130%; padding:20px;">

                    <div style="30px;"></div>

                    <!--In App new Model-->

                    <div class="container">
                        <canvas id="transactionGameChart" style="display: block;max-width: 1150px;height: 150px;"></canvas>
                    </div>
                    <p><h4 style="align-content:center; top:75px;">Giao Dịch Trong Ứng Dụng</h4></p>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="script.js"></script>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const ctx = document.getElementById('transactionGameChart').getContext('2d');
                            const transactionChart = new Chart(ctx, {
                                type: 'bar', // Bạn có thể thay đổi thành 'line' hoặc các loại biểu đồ khác của Chart.js
                                data: {
                                    labels: @Html.Raw(Json.Serialize(Model.DataMonthInApp.Keys.ToList())),
                                    datasets: [{
                                        label: 'Số lượng giao dịch trong app',
                                        data: @Html.Raw(Json.Serialize(Model.DataMonthInApp.Values.ToList())), // Dữ liệu mẫu, bạn có thể thay thế bằng dữ liệu thực tế
                                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });

                    </script>

                    <!--End In App new Model-->

                </div>
                <!--End table month-->


            </div>

        </div>
        </div>
        <!--End Phan chinh sua-->







    <script type="text/javascript">
        var monthLabels = @Html.Raw(Json.Serialize(Model?.DataMonth?.Keys));
        var monthDatas = @Html.Raw(Json.Serialize(Model?.DataMonth?.Values));
    </script>

</body>

</html>