@page
@model WebAdmin.Pages.Report.DetailsModel
@{
}
<div class="details">
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Mục Báo Cáo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.ReportCategory)
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.Status)
        </dd>
        <dt class="col-md-4 col-12">
            Lý Do
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.Reason)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.CreateTime)
        </dd>
        <dt class="col-md-4 col-12">
            Loại Báo Cáo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.ReportType)
        </dd>
        @* <dt class="col-md-4 col-12">
            Bình Luận
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.Comment)
        </dd>      
        <dt class="col-md-4 col-12">
            Tiêu Đề Bài Đăng
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Report.PostCaption)
        </dd> *@
        @if (Model.Report.ReportType == "Bình Luận" || Model.Report.ReportType == "COMMENT")
        {
            <dt class="col-md-4 col-12">
                Bình Luận
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Report.Comment)
            </dd>
        }

        @if (Model.Report.ReportType == "Bài Viết" || Model.Report.ReportType == "POST")
        {
            <dt class="col-md-4 col-12">
                Tiêu Đề Bài Đăng
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Report.PostCaption)
            </dd>        
        }

    </dl>
</div>