@page
@model WebAdmin.Pages.Transactions.Details.GameModel
@{
}
<h1>Details</h1>

<div class ="details">
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.InAppTransaction.Status)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.InAppTransaction.CreatedDate)
        </dd>
        <dt class="col-md-4 col-12">
            Loại Giao Dịch
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.InAppTransaction.TransactionType)
        </dd>
        <dt class="col-md-4 col-12">
            Up Trước Giao Dịch
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.InAppTransaction.UpAmountBefore)
        </dd>
        <dt class="col-md-4 col-12">
            Tổng UP
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.InAppTransaction.UpTotalAmount)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="/Transactions/Game">Back to List</a>
</div>
