@page
@model WebAdmin.Pages.Transactions.GameModel
@{
}


<!--Search-->
<div class="input-group">
    <form method="post" class="input-group">
        <input name="txt_search" type="search" class="form-control rounded" value="@ViewBag.filter_search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
        </span>
        <button asp-page-handler="Search" type="submit" class="btn btn-outline-success" data-mdb-ripple-init>Tìm Kiếm</button>

    </form>
</div>
<!--End Search-->

<div class="table-container">
    <div class="input-group" style="margin:20px 0 25px 0;">
        <form asp-page-handler="Search" method="post" class="input-group" id="searchForm">
            <input name="txt_search" type="date" value="@ViewBag.filter_date" class="form-control-sm" aria-label="Search" aria-describedby="search-addon" onchange="this.form.submit()" />
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.data.Results[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data.Results[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data.Results[0].TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data.Results[0].UpAmountBefore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data.Results[0].UpTotalAmount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.data.Results != null)
            {
                @foreach (var item in Model.data.Results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpAmountBefore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpTotalAmount)
                        </td>
                        <td>
                            <a asp-page="./Details/Game" asp-route-id="@item.InAppTransactionId">Details</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <br />
    <br />
    <div>
        <label style="color: red;">Tổng Tiền: </label>
            <p style="color:black;">@ViewBag.TotalAmount VMD</p>
    </div>
    <div>
        <label style="color: red;">Tổng giao dịch: </label>
        <p>@ViewBag.TotalTransaction</p>

    </div>

</div>


<!--Paging-->
<div class="pagination">
    <li class="page-item"><a asp-route-number="@(Model.CurrentPage - 1)" class="page-link">&laquo;</a></li>
    <li class="page-item active"><a asp-route-number="@Model.CurrentPage" class="page-link">@Model.CurrentPage</a></li>
    <li class="page-item"><a asp-route-number="@(Model.CurrentPage + 1)" class="page-link">&raquo;</a></li>
</div>
<!--End Paging-->