@page
@model WebAdmin.Pages.Item.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="delete">
    <h3>Bạn chắc chắn xóa thông tin?</h3>
    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Mã Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemCode)
        </dd>
        <dt class="col-md-4 col-12">
            Tên Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-md-4 col-12">
            Mô Tả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemDescription)
        </dd>
        <dt class="col-md-4 col-12">
            Loại Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemType)
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemStatus)
        </dd>
        <dt class="col-md-4 col-12">
            Có Thể Hết Hạn?
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CanExpire)
        </dd>
        <dt class="col-md-4 col-12">
            Có Thể Gộp?
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CanStack)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CreatedDate)
        </dd>
        <dt class="col-md-4 col-12">
            Mã Prefab
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.PrefabCode)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Mua
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemBuyPrice)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Bán
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemSellPrice)
        </dd>
    </dl>

    <form method="post" asp-page="./Delete" asp-route-id="@Model.Item.ItemId">
        <input type="hidden" asp-for="Item.ItemId" />
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-primary" />
        </div>
    </form>
</div>
