@page
@model WebAdmin.Pages.Item.DetailsModel
@{
}
<div class="details">

    <hr />
    <dl class="row">
        <dt class="col-md-4 col-12">
            Mã Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemCode)
        </dd>
        <dt class="col-md-4 col-12">
            Tên Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-md-4 col-12">
            Mô Tả
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemDescription)
        </dd>
        <dt class="col-md-4 col-12">
            Loại Vật Phẩm
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemType)
        </dd>
        <dt class="col-md-4 col-12">
            Trạng Thái
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemStatus)
        </dd>
        <dt class="col-md-4 col-12">
            Có Thể Hết Hạn?
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CanExpire)
        </dd>
        <dt class="col-md-4 col-12">
            Có Thể Gộp?
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CanStack)
        </dd>
        <dt class="col-md-4 col-12">
            Ngày Tạo
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.CreatedDate)
        </dd>
        <dt class="col-md-4 col-12">
            Mã Prefab
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.PrefabCode)
        </dd>
        <dt class="col-md-4 col-12">
            Giá Up
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemBuyPrice)
        </dd>
        @* <dt class="col-md-4 col-12">
            Giá Bán
        </dt>
        <dd class="col-md-8 col-12">
            @Html.DisplayFor(model => model.Item.ItemSellPrice)
        </dd> *@
    </dl>
</div>
<div>

    <a asp-page="./Index">Back to List</a>
</div>
