@page
@model WebAdmin.Pages.Account.DetailsModel
@{
}

<div class="details">

    <div>
        <hr />
        <dl class="row">
            <dt class="col-md-4 col-12">
                Tên Tài Khoản
                @* @Html.DisplayNameFor(model => model.Account.UserName) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.UserName)
            </dd>
            <dt class="col-md-4 col-12">
                Email
                @* @Html.DisplayNameFor(model => model.Account.Email) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.Email)
            </dd>
            <dt class="col-md-4 col-12">
                Giới Tính
                @* @Html.DisplayNameFor(model => model.Account.Gender) *@
            </dt>
            <dd class="col-md-8 col-12">
                @* @Html.DisplayFor(model => model.Account.Gender) *@
                @if (Model.Account.Gender == "Nam" || Model.Account.Gender == "MALE")
                {
                    <span>Nam</span>
                }
                else @if (Model.Account.Gender == "Nữ" || Model.Account.Gender == "FEMALE")
                {
                    <span>Nữ</span>
                }
                else @if (Model.Account.Gender == "Khác" || Model.Account.Gender == "OTHERS")
                {
                    <span>Khác</span>
                }
            </dd>
            <dt class="col-md-4 col-12">
                Vai Trò
            </dt>
            <dd class="col-md-8 col-12">
                @* @Html.DisplayFor(model => model.Account.Role) *@
                @if (Model.Account.Role == "Quản Trị Viên" || Model.Account.Role == "ADMIN")
                {
                    <span>Quản Trị Viên</span>
                }
                else @if (Model.Account.Role == "Nhân Viên" || Model.Account.Role == "STAFF")
                {
                    <span>Nhân Viên</span>
                }
                else @if (Model.Account.Role == "Người Dùng" || Model.Account.Role == "MEMBER")
                {
                    <span>Người Dùng</span>
                }
            </dd>
            <dt class="col-md-4 col-12">
                Họ Tên
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.Fullname)
            </dd>
            <dt class="col-md-4 col-12">
                Năm Sinh
                @* @Html.DisplayNameFor(model => model.Account.Yob) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.Yob)
            </dd>
            <dt class="col-md-4 col-12">
                Số Định Danh
                @* @Html.DisplayNameFor(model => model.Account.IdentityCardNumber) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.IdentityCardNumber)
            </dd>
            <dt class="col-md-4 col-12">
                Số Điện Thoại
                @* @Html.DisplayNameFor(model => model.Account.PhoneNumber) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.PhoneNumber)
            </dd>
            <dt class="col-md-4 col-12">
                Ngày Tạo
                @* @Html.DisplayNameFor(model => model.Account.CreatedTime) *@
            </dt>
            <dd class="col-md-8 col-12">
                @Html.DisplayFor(model => model.Account.CreatedTime)
            </dd>
            <dt class="col-md-4 col-12">
                Trạng Thái
            </dt>
            <dd class="col-md-8 col-12">
                @* @Html.DisplayFor(model => model.Account.AccountStatus) *@
                @if (Model.Account.AccountStatus == "Kích Hoạt" || Model.Account.AccountStatus == "ACTIVE")
                {
                    <span>Kích Hoạt</span>
                }
                else @if (Model.Account.AccountStatus == "Vô Hiệu Hóa" || Model.Account.AccountStatus == "INACTIVE")
                {
                    <span>Vô Hiệu Hóa</span>
                }
            </dd>
            <dt class="col-md-4 col-12">
                Số dư Up
            </dt>
            <dd class="col-md-8 col-12">
                @Html.Raw((int)Model.Account.UpBalance + " UP")
            </dd>
        </dl>
    </div>
    <div>

        @* <a asp-page="./Index1">Back to List</a> *@
    </div>

</div>
