@page
@model WebAdmin.Pages.Account.DetailsModel
@{
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-page="./Index1">Back to List</a>
</div>
