@page
@model WebAdmin.Pages.Account.Index1Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
</head>
<body>


    <!--Search-->
    <div class="input-group">
        <form method="post" class="input-group">
            <input name="txt_search" type="search" class="form-control rounded" placeholder="Search..." value="@ViewBag.filter_search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
@*                 <select class="form-control form-control-sm" aria-label="account filter" name="txt_filter">
                    <option value="UserName" selected>Username</option>
                    <option value="Email">Email</option>
                    <option value="Gender">Gender</option>
                    <option value="Role">Role</option>
                    <option value="IsOnline">Is Online</option>
                    <option value="AccountStatus">Account Status</option>
                </select> *@
            </span>
            <button asp-page-handler="Search" type="submit" class="btn btn-outline-success" data-mdb-ripple-init>Search</button>

        </form>
    </div>
    <!--End Search-->

    <a href="Create">Create Account Staff</a>
    <div class="table-container">
        <br />
        <!--Table list Account-->
        <table class="table table-hover" style="margin-top:20px;">
            <tr>
                <th>#</th>
                <th></th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Is Online</th>
                <th>Account Status</th>
                <th>Inactive/Active</th>
                <th></th>
            </tr>
            @if (Model.data.Results is not null)
            {
                int count = 0;
                @foreach (var e in Model.data.Results)
                {
                    <tr>
                        <td>@(count += 1)</td>
                        <td class="img-cell"><img src="@e.Image" alt="N/A" /></td>
                        <td>@e.Fullname</td>
                        <td>@e.Email</td>
                        <td>@e.UserName</td>
                        <td>@e.Gender</td>
                        <td>@e.Role</td>
                        <td>@e.IsOnline</td>
                        <td>@e.AccountStatus</td>
                        <td><a asp-page-handler="Inactive" asp-route-id="@e.AccountId">Inactive</a> | <a asp-page-handler="Active" asp-route-id="@e.AccountId">Active</a></td>
                        <td><a asp-page="./Details" asp-route-id="@e.AccountId">Details</a> </td>
                    </tr>

                }
            }
        </table>
        </<div>

            <!--End Table-->
            <!--Paging-->
            <div class="pagination">
                <li class="page-item"><a asp-route-number="@(Model.CurrentPage - 1)" class="page-link">&laquo;</a></li>
                <li class="page-item active"><a asp-route-number="@Model.CurrentPage" class="page-link">@Model.CurrentPage</a></li>
                <li class="page-item"><a asp-route-number="@(Model.CurrentPage + 1)" class="page-link">&raquo;</a></li>
            </div>
            <!--End Paging-->
        </div>
</body>
</html>
