@page
@model WebAdmin.Pages.Account.Index1Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- FontAwesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>


    <!-- Search Bar -->
    <div style="max-width: 1200px;">
        <form method="post" class="input-group">
            <input asp-for="search" type="search" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon"></span>
            <button asp-page-handler="Search" type="submit" class="btn btn-outline-success" data-mdb-ripple-init>Search</button>
        </form>

        <!-- Toggle Button for Advanced Search in a new row -->
        <div style="margin-top: 10px; text-align: left;">
            <button class="btn btn-outline-info" id="toggleAdvancedSearch">Tìm Kiếm Nâng Cao</button>
        </div>
    </div>

    <!-- Advanced Search Panel (Initially Hidden) -->
    <div id="advancedSearchPanel" class="advanced-search-container" style="display: none; margin-top: 20px;">
        <div class="card p-3 mb-4 custom-card-width">
            <h5 class="card-title">Tìm Kiếm Nâng Cao Tài Khoản</h5>
            <form asp-page-handler="SearchAdvanced" method="post">
                <div class="row">
                    <!-- First row with 3 columns -->
                    <div class="col-md-4">
                        <label class="form-label">Tên Tài Khoản</label>
                        <input asp-for="filter.UserName" class="form-control" />
                        <span asp-validation-for="filter.UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email</label>
                        <input asp-for="filter.Email" class="form-control" />
                        <span asp-validation-for="filter.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Giới Tính</label>
                        <select asp-for="filter.Gender" class="form-select">
                            <option value="" disabled selected>Chọn</option>
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                        </select>
                        <span asp-validation-for="filter.Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <!-- Second row with 3 columns -->
                    <div class="col-md-4">
                        <label class="form-label">Vai Trò</label>
                        <input asp-for="filter.Role" class="form-control" />
                        <span asp-validation-for="filter.Role" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Số Dư UP</label>
                        <input asp-for="filter.UpBalance" class="form-control" />
                        <span asp-validation-for="filter.UpBalance" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Trực Tuyến</label>
                        <select asp-for="filter.IsOnline" class="form-select">
                            <option value="">Chọn</option>
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                        <span asp-validation-for="filter.IsOnline" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <!-- Third row with 3 columns -->
                    <div class="col-md-3">
                        <label class="form-label">Họ Và Tên</label>
                        <input asp-for="filter.Fullname" class="form-control" />
                        <span asp-validation-for="filter.Fullname" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Năm Sinh</label>
                        <input asp-for="filter.Yob" class="form-control" type="number" />
                        <span asp-validation-for="filter.Yob" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Số CMND</label>
                        <input asp-for="filter.IdentityCardNumber" class="form-control" />
                        <span asp-validation-for="filter.IdentityCardNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Số Điện Thoại</label>
                        <input asp-for="filter.PhoneNumber" class="form-control" />
                        <span asp-validation-for="filter.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <!-- Save Button -->
                <button type="submit" class="btn btn-success-search mt-3">Tìm Kiếm</button>
            </form>
        </div>
    </div>

    <div id="advancedSearchModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="formAdvanced">
                <form asp-page-handler="SearchAdvanced" method="post" class="input-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* <div class="form-group"> *@
                    <div>
                        <label class="control-label">Email</label>
                        <input asp-for="filter.Email" class="form-control-sm" />
                        <span asp-validation-for="filter.Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="control-label">Tên Tài Khoản</label>
                        <input asp-for="filter.UserName" class="form-control-sm" />
                        <span asp-validation-for="filter.UserName" clas="text-danger"></span>
                    </div>
                    @* </div> *@

                    <div>
                        <label class="control-label">Vai Trò</label>
                        <select asp-for="filter.Role">
                            <option value="ADMIN">Admin</option>
                            <option value="STAFF">Nhân Viên</option>
                            <option value="MEMBER">Người Chơi</option>
                        </select>
                    </div>

                    <div>
                        <label class="control-label">Giới Tính</label>
                        <select asp-for="filter.Gender">
                            <option value="MALE">Nam</option>
                            <option value="FEMALE">Nữ</option>
                            <option value="ORTHER">Khác</option>
                        </select>
                    </div>

                    <div>
                        <label class="control-label">Trạng Thái</label>
                        <select asp-for="filter.AccountStatus">
                            <option value="NOT_VERIFY">Chưa Được Kích Hoạt</option>
                            <option value="ACTIVE">Hoạt Động</option>
                            <option value="INACTIVE">Không Hoạt Động</option>
                        </select>
                    </div>

                    @* <div class="form-group"> *@
                    <div>
                        <label class="form-label">Số Tiền Trong Tài Khoản</label>
                        <input asp-for="filter.UpBalance" class="form-control-sm" />
                        <span asp-validation-for="filter.UpBalance" class="text-danger"></span>
                    </div>

                    <div>
                        <label class="control-label">Họ Tên</label>
                        <input asp-for="filter.Fullname" class="form-control-sm" />
                        <span asp-validation-for="filter.Fullname" class="text-danger"></span>
                    </div>
                    @* </div> *@

                    @* <div class="form-group"> *@
                    <div>
                        <label class="form-label">Năm Sinh</label>
                        <input asp-for="filter.Yob" class="form-control-sm" />
                        <span asp-validation-for="filter.Yob" class="text-danger"></span>
                    </div>

                    <div>
                        <label class="control-label">Số Định Danh</label>
                        <input asp-for="filter.IdentityCardNumber" class="form-control-sm" />
                        <span asp-validation-for="filter.IdentityCardNumber" class="text-danger"></span>
                    </div>
                    @* </div> *@

                    <button class="btn btn-google-plus" type="submit">Lưu Thông Tin</button>


                </form>
            </div>

        </div>

    </div>


    <!--End Search-->


    <div class="table-container">
        <br />
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createAccountModal">
            Tạo tài khoản nhân viên
        </button>
        <br />
        <!--Table list Account-->
        <table class="table table-hover" style="margin-top:20px;">
            <tr>
                <th>#</th>
                <th></th>
                @*                 <th>Full Name</th> *@
                <th>Email</th>
                <th>Tên Tài Khoản</th>
                <th>Giới Tính</th>
                <th>Vai Trò</th>
                @*                 <th>Is Online</th>
                <th>Account Status</th> *@
                <th>Ẩn/Kích Hoạt</th>
                <th></th>
            </tr>
            @if (Model.data.Results is not null)
            {
                int count = 0;
                @foreach (var e in Model.data.Results)
                {
                    <tr>
                        <td>@(count += 1)</td>
                        <td class="img-cell"><img src="@e.Image" alt="N/A" /></td>
                        @* <td>@e.Fullname</td> *@
                        <td>@e.Email</td>
                        <td>@e.UserName</td>
                        <td>@e.Gender</td>
                        <td>@e.Role</td>
                        @* <td>@e.IsOnline</td> *@
                        @* <td>@e.AccountStatus</td> *@
                        <td><a asp-page-handler="Inactive" asp-route-id="@e.AccountId" class="btn btn-dribbble">Ẩn</a> | <a asp-page-handler="Active" asp-route-id="@e.AccountId" class="btn btn-warning">Kích hoạt</a></td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-dark" data-toggle="modal" data-target="#detailAccountModal" data-id="@e.AccountId">Chi Tiết</a>
                        </td>
                    </tr>

                }
            }
        </table>
        </<div>

            <!--End Table-->
            <!--Paging-->
            <div class="pagination">
                <li class="page-item"><a asp-route-number="@(Model.CurrentPage - 1)" class="page-link">&laquo;</a></li>
                <li class="page-item active"><a asp-route-number="@Model.CurrentPage" class="page-link">@Model.CurrentPage</a></li>
                <li class="page-item"><a asp-route-number="@(Model.CurrentPage + 1)" class="page-link">&raquo;</a></li>
            </div>
            <!--End Paging-->
        </div>





        <!-- Create Modal -->
        <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createAccountModalLabel">Tạo Tài Khoản Nhân Viên Mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- The content of the Create page will be loaded here -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg-custom" role="document">
                <div class="modal-content edit-modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAccountModalLabel">Chỉnh Sửa Tài Khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="edit-modal-body">
                        <!-- The content of the Edit page will be loaded here -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Details Modal -->
        <div class="modal fade" id="detailAccountModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog custom-modal-width" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel">Chi Tiết Tài Khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body detail-modal-body">
                        <!-- Nội dung chi tiết sẽ được tải vào đây -->
                    </div>
                </div>
            </div>
        </div>


        <script>
            document.getElementById('toggleAdvancedSearch').addEventListener('click', function () {
                const panel = document.getElementById('advancedSearchPanel');
                const isVisible = panel.style.display !== 'none';

                // Toggle visibility
                panel.style.display = isVisible ? 'none' : 'block';

                // Optionally change button text
                this.innerText = isVisible ? 'Tìm Kiếm Nâng Cao' : 'Ẩn Tìm Kiếm Nâng Cao';
            });

            $(document).ready(function () {
                $('#createAccountModal').on('show.bs.modal', function (e) {
                    var modal = $(this);
                    // Load only the form content from the Create page
                    $.get('@Url.Page("./Create")', function (data) {
                        var formContent = $(data).find('form');
                        modal.find('.modal-body').html(formContent);

                        // Attach an event listener to the form submit event
                        modal.find('form').on('submit', function (e) {
                            e.preventDefault(); // Prevent normal form submission

                            // Use AJAX to submit the form data
                            $.ajax({
                                type: $(this).attr('method'),
                                url: $(this).attr('action'),
                                data: $(this).serialize(),
                                success: function (response) {
                                    if (response.success) {
                                        // Close the modal and remove the backdrop
                                        modal.modal('hide');
                                        $('.modal-backdrop').remove(); // Ensure the backdrop is removed

                                        // Show the success popup
                                        Swal.fire({
                                            title: 'Success!',
                                            text: 'The account was created successfully.',
                                            icon: 'success',
                                            confirmButtonText: 'OK'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                // Reload the page when the user presses OK
                                                location.reload();
                                            }
                                        });
                                    } else {
                                        // Handle the failure case
                                        Swal.fire({
                                            title: 'Error!',
                                            text: 'There was a problem creating the account.',
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        });

                                        // Close the modal and remove the backdrop
                                        modal.modal('hide');
                                        $('.modal-backdrop').remove();
                                    }
                                },
                                error: function () {
                                    // Close the modal and remove the backdrop in case of an error
                                    modal.modal('hide');
                                    $('.modal-backdrop').remove();

                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'There was a problem with the request.',
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            });
                        });
                    });
                });
            });

            // Load Edit form content into the modal
            $('#editAccountModal').on('show.bs.modal', function (e) {
                var button = $(e.relatedTarget);
                var accountId = button.data('id');
                var modal = $(this);

                // Load the edit form from the Edit page
                $.get('@Url.Page("./Edit", new { id = "__ID__" })'.replace('__ID__', accountId), function (data) {
                    var formContent = $(data).find('form');
                    modal.find('.edit-modal-body').html(formContent);

                    // Attach an event listener to the form submit event
                    modal.find('form').on('submit', function (e) {
                        e.preventDefault(); // Prevent normal form submission

                        // Use AJAX to submit the form data
                        $.ajax({
                            type: $(this).attr('method'),
                            url: $(this).attr('action'),
                            data: $(this).serialize(),
                            success: function (response) {
                                if (response.success) {
                                    // Close the modal and remove the backdrop
                                    modal.modal('hide');
                                    $('.modal-backdrop').remove(); // Ensure the backdrop is removed

                                    // Show the success popup
                                    Swal.fire({
                                        title: 'Success!',
                                        text: 'The account was edited successfully.',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // Reload the page when the user presses OK
                                            location.reload();
                                        }
                                    });
                                } else {
                                    // Handle the failure case
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'There was a problem creating the account.',
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });

                                    // Close the modal and remove the backdrop
                                    modal.modal('hide');
                                    $('.modal-backdrop').remove();
                                }
                            },
                            error: function () {
                                // Close the modal and remove the backdrop in case of an error
                                modal.modal('hide');
                                $('.modal-backdrop').remove();

                                Swal.fire({
                                    title: 'Error!',
                                    text: 'There was a problem with the request.',
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }
                        });
                    });
                });
            });

            // Load Detail form content into the modal
            $(document).ready(function () {
                $('#detailAccountModal').on('show.bs.modal', function (e) {
                    var button = $(e.relatedTarget);
                    var accountId = button.data('id');
                    var modal = $(this);

                    // Tải nội dung từ trang Details và chỉ lấy phần thân của nội dung
                    $.get('@Url.Page("/Account/Details", new { id = "__ID__" })'.replace('__ID__', accountId), function (data) {
                        var detailContent = $(data).find('.details').html(); // Lấy phần nội dung chính
                        modal.find('.detail-modal-body').html(detailContent);
                    });
                });
            });



        </script>

        <style>
            .modal-dialog.modal-lg-custom {
                max-width: 500px;
            }

            .edit-modal-content {
                padding: 20px;
            }
        </style>
</body>
</html>
